//VARIABLES

//COLORS
$black: black;
$white: white;
$orange: #ff6900;
$gray: rgb(243, 243, 247);
$liteorange: rgb(255, 210, 179);

//MEDIA
$media-360: 360px;
$media-500: 500px;
$media-768: 768px;
$media-1000: 1000px;

//FONTS
$open: 'Open Sans', sans-serif;
